<h5 class="is-size-5">{{ filterHead }}</h5>
<hr></hr>

<label>{{ filterPriceHead }}</label>
<div class="columns">
  <div class="column">
    <input class="input is-small filter_price_min" type="text" placeholder="min" value="0" data-filter-name="price" data-filter-range="min">
  </div>
  <div class="column">
    <input class="input is-small filter_price_max" type="text" placeholder="max" data-filter-name="price" data-filter-range="max">
  </div>
</div>

<label>{{ filterQuantityHead }}</label>
<div class="columns">
  <div class="column">
    <input class="input is-small filter_quantity_min" type="text" placeholder="min" value="0" data-filter-name="quantity" data-filter-range="min">
  </div>
  <div class="column">
    <input class="input is-small filter_quantity_max" type="text" placeholder="max" data-filter-name="quantity" data-filter-range="max">
  </div>
</div>