<div class="box purchase_{{ id }}">
  <div class="columns">
    <div class="column-auto">
        <img src="{{ imgSrc }}" alt="{{ prodName }}">
    </div>
    <div class="column">
      <div>Name: {{ prodName }}</div>
      <div>Quantity: <span class="basket_content_purchase_quantity_{{ id }}">{{ prodQuantity }}</span></div>
      <div>Price for one: {{ prodPriceFor1 }}$</div>
      <div>In total: <span class="basket_content_purchase_totalPrice_{{ id }}">{{ prodPriceForAll }}</span>$</div>
    </div>
  </div>
</div>