<form class="busket_order_form">
  <div class="field">
      <label class="label">Name</label>
      <div class="control has-icons-left">
        <input class="input basket_order_form_input_name" type="text" placeholder="Name" required>
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>

        <span class="icon is-small is-right name_success_icon">
          <!-- <i class="fas fa-check"></i> -->
        </span>

    </div>
  </div>

  <div class="field">
    <label class="label">Surname</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input basket_order_form_input_surname" type="text" placeholder="Surname" required>
      <span class="icon is-small is-left">
        <i class="fas fa-user"></i>
      </span>

      <span class="icon is-small is-right surname_success_icon">
        <!-- <i class="fas fa-check"></i> -->
      </span>

    </div>
  </div>



  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input basket_order_form_input_email" type="email" placeholder="Email input" value="" required>
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>

      <span class="icon is-small is-right">
        <!-- <i class="fas fa-exclamation-triangle"></i> -->
      </span>

    </div>
  </div>

  <div class="field">
    <label class="label">Phone</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input input basket_order_form_input_phone" type="text" placeholder="Phone input" required>
      <span class="icon is-small is-left">
        <i class="fas fa-phone"></i>
      </span>

      <span class="icon is-small is-right surname_success_icon">
        <!-- <i class="fas fa-check"></i> -->
      </span>

    </div>
  </div>

  <div class="field">
    <label class="label">Destination point</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input input basket_order_form_input_destination" type="text" placeholder="Destination point input" required>
      <span class="icon is-small is-left">
        <i class="fas fa-truck"></i>
      </span>

      <span class="icon is-small is-right surname_success_icon">
        <!-- <i class="fas fa-check"></i> -->
      </span>

    </div>
  </div>

  <div class="field">
    <label class="label">Message</label>
    <div class="control">
      <textarea class="textarea basket_order_form_text_area_message" placeholder="Additional Message (not necessary)"></textarea>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button type="submit" class="button is-link basket_order_form_button_make_an_order" disabled>Confirm</button>
    </div>
    <p class="help is-danger"><span class="basket_order_button_info"></span></p>
  </div>
</form>