<div class="modal modal_window_basket">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head is-fullwidth">
        <div class="column is-11">
          <nav class="tabs is-toggle">

            <ul>
              <li class="tab_1_content is-active"><a >Basket content</a></li>
              <li class="tab_2_history"><a >Purchase history</a></li>
              <li class="tab_3_order"><a >Make an order</a></li>
            </ul>

          </nav>
        </div>
        <div class="column is-right">
          <a type="button" class="delete modal_window_basket_close" aria-label="close"></a>
        </div>
    </header>

    <section class="modal-card-body">
        
      <div class="container section modal_window_basket_content">
      </div>
            
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success">Save changes</button>
      <button class="button">Cancel</button>
    </footer>
  </div>
</div>